
<div class="container mt-4 media-form">
    <h2>Calculadora de Média</h2>

    <div class="mb-3">
        <input type="number" class="form-control" [(ngModel)]="Ac1" placeholder="Ac1" />
    </div>

    <div class="mb-3">
        <input type="number" class="form-control" [(ngModel)]="Ac2" placeholder="Ac2" />
    </div>

    <div class="mb-3">
        <input type="number" class="form-control" [(ngModel)]="AF" placeholder="AF" />
    </div>

    <div class="mb-3">
        <input type="number" class="form-control" [(ngModel)]="AG" placeholder="AG" />
    </div>

    <div class="mb-3">
        <p>Ac1: {{ Ac1 }}</p>
        <p>Ac2: {{ Ac2 }}</p>
        <p>AG: {{ AG }}</p>
        <p>AF: {{ AF }}</p>
    </div>

    <button class="btn btn-primary" (click)="Calc()">Calcular</button>

    <div class="mt-3">
        <p><strong>Média Final:</strong> {{ mediaF }}</p>
        <p><strong>Resultado:</strong> {{ resultado }}</p>
    </div>
</div>
